recordings/
*.mkv
*.mp4
*.log
*.csv
log*
testing_flask_*
uploads*
test.cc
a.out
release_build/*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build/
build.ninja
release_build/
cmake_install.cmake
.priv_git
.priv_git/*
.private_git
.private_git/*
.public_git/*
.public_git
